body {
    
}


#bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div {
    
}

#top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#names {
    
}

.name {
    
}

.entry {
    
}

.header {
    font-weight: bold;
    font-size: 750%;
}