body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px;
}


#bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

#top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;

    padding: 10px;
}

#title-text {
    font-size: 200%;
}

.header {
    font-weight: bold;
    font-size: 750%;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}