body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px;
}


.bottom-part-entry-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.bottom-part-show-entry {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;

    padding: 10px;
}

#title-text {
    font-size: 200%;
}

.header {
    font-weight: bold;
    font-size: 750%;

    color: white;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}

#bibliography-link {
    align-self: center;

    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;

    padding: 5px;

    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}

#top-part-right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 15%;
}

.entry {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    padding: 10px;
    width: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: black;

    -webkit-animation-name: disappear;
    -webkit-animation-duration: 1s;
    -webkit-animation-play-state: paused;
    animation-name: disappear;
    animation-duration: 1s;
    animation-play-state: paused;

    opacity: 100;
}

.entryToTopLeft {
    -webkit-animation-name: moveToTopLeftCorner;
    -webkit-animation-duration: 1s;
    -webkit-animation-play-state: paused;
    animation-name: moveToTopLeftCorner;
    animation-duration: 1s;
    animation-play-state: paused;
}

.clickedEntry {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    padding: 10px;
    width: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: black;

    opacity: 100;
}

.entry-paragraph {
    display: none;
}

@keyframes disappear {
    0% {
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}